body {
    background-color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sembunyi {
    display: none;
}

a:link{
    text-decoration: none;
    color :cornflowerblue;

a:visited{
    text-decoration: none;
    color :cornflowerblue;
}

a:hover{
    text-decoration: none;
    color :crimson;
    font-weight: bold;
}

.profpicture {
    border-radius: 50%;
}

fotobiasa {
    border-radius: 10px 10px;
}

kotakfoto{
    border-radius: 10px 10px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 610px;
}